#To install please use: 
#  $ pip install -r requirements.txt
apscheduler
pytz
mock
pyephem
pyserial
twisted
#xmpppy
#for nest
#eusful==0.6
#pyenest
requests
gevent-websocket
wsaccel
ujson
phue
python_openzwave
-e git://github.com/jcollie/pyjnest.git#egg=pyjnest
-e git+https://github.com/zonyl/pyharmony.git#egg=pyharmony
interruptingcow
#-e git://github.com/pettazz/pygooglevoice.git#egg=pygooglevoice
-e git://github.com/MikeRixWolfe/pygooglevoice.git#egg=pygooglevoice
