#To install please use: 
#  $ pip install -r requirements.txt
apscheduler
pytz
mock
pyephem
pyserial
twisted
xmpppy
#for nest
#eusful==0.6
#pyenest
requests
-e git://github.com/jcollie/pyjnest.git#egg=pyjnest
