body {
}
button.toggle, button.command {
    width:100%;
    margin-bottom: 0px;
    margin-top:0px;
}
button.room_toggle {
    width:100%;
    margin-bottom: 0px;
    margin-top:0px;
    padding-bottom: 2px;
    padding-top: 2px;
}
table {
  width: 100%;
  table-layout:fixed;
}
#tableDevices, #tableDevicesLong{
  padding-right: 4px;
}
div.ui-slider {
    margin-top:-2px;
    margin-bottom: 5px;
}
.ui-slider-track {
    position: relative;
    left: -53px;
    clear: both;
}
.singleDevice {
    border-style: groove;
    border-width: thin;
    padding-left: 1px;
    padding-right: 0px;
    width:100%;
}
#mainContent{
    padding: 0 0 0 0;
}
.colorSelect {
    width: 21px;
    height: 21px;
    float: left;
    border: 1px solid #777;
}
.ui-select {
    margin-top: 0;
    margin-bottom: 2px;
}